<div id='info_panel'>
  This is your webiste address <a id='link-to-self' href="<%= @page.link_to_self(request) %>"><%= @page.pretty_link_to_self(request) %></a> <a href='#' id='close'>[close]</a>
</div>
