<html>
  <head>
    <title>black girlz html publisher</title>
    <link href='/home.css' media='all' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id='main_container'>
      <h1>black girlz code webpage publisher</h1>
      <h2>Upload your website here</h2>
      <form action='/upload' method='POST' enctype="multipart/form-data" >
        <div><label>First Name</label> <input type='text' name='name' value='<%= @name %>'/></div>
        <div><label>Middle Initial</label> <input type='text' name='middle_initial' value='<%= @name %>'/></div>
        <div><label>Last Name</label> <input type='text' name='last_name' value='<%= @name %>'/></div>
        <div id='my_page'>
          <h3>My page</h3>
          <div id='file_column'>
            <label>File</label> <input type='file' name='page' />
          </div>
          <div id='or_column'>
            OR
          </div>
          <div id='html_column'>
            <label>HTML</label>
          </div>
          <div id='textarea_column'>
            <textarea name='html' rows='7'></textarea>
          </div>
        </div>
        <div id='plugins'>
          <h3>Plugins</h3>
          <input type='checkbox' id='enable_comments' name='enable_comments'/> <label for='enable_comments'>Facebook comments</label>
        </div>
      <div id='submit'>
        <input type='submit' value='Publish my website' />
      </div>
    </div>
  </body>
</html>
