<html>
  <head>
    <title>black girlz html publisher</title>
    <link href='/home.css' media='all' rel='stylesheet' />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id='main_container'>
      <h1>black girlz html publisher</h1>
      <h3>Upload your website here</h3>
      <form action='/upload' method='POST' enctype="multipart/form-data" >
        <p><label>Site address: http://girlz.heroku.com/</label> <input type='text' name='name' /></p>
        <p><label>My page</label> <input type='file' name='page' /></p>
        <p><input type='submit' value='Publish my website' /></p>
      </form>
    </div>
  </body>
 </html>
