= "<!DOCTYPE html>"

%html
  %head
    %title black girlz html publisher
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"}
    %script{:src => "/bootstrap/js/bootstrap.min.js"}
    %link{:href => "/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/bootstrap/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
  %body
    = yield
