<html>
  <head>
    <title>black girlz html publisher</title>
  </head>
  <body>
    <div>
      <ul>
      <% @pages.each do |page| %>
        <li><%= page.name %> at <a href="<%= page.link_to_self(request) %>"><%= page.pretty_link_to_self(request) %></a></li>
      <% end %>
      </ul>
    </div>
  </body>
 </html>

