%link{:href => "/bootstrap/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
%link{:href => "/list.css", :media => "all", :rel => "stylesheet"}

.container-fluid
  .row-fluid
    .span12
      %h1#title Events
      %a#event-create.btn{:href => '#event-create-window', :'data-toggle' => 'modal'}
        %i.icon-plus-sign
        Create Event
  .row-fluid
    #events.span8
      - @events.each do |event|
        = haml :_event, :layout => false, :locals => {:event => event}
    #preview-container.hide.span4
      %h3 Preview
      %hr
      #loading.hide
        .progress.progress-striped.active
          .bar{:style => 'width: 100%'}
      #preview
        %iframe

#event-create-window.modal.fade
  .modal-header
    %h2 Create Event
  %form#event-create-form
    .modal-body
      %label{:for => 'event-create-name'} Name
      %input#event-create-name{:type => 'text'}
    .modal-footer
      %a.btn{:'data-dismiss' => 'modal'} Cancel
      %input.btn.btn-primary{:type => 'submit', :value => 'Create'}

%script{:src => "/list.js"}
