body {
  font-family: 'Times New Roman', serif;
}

#plugins {
  padding-top: 10px;
}

#file_column, #or_column, #html_column, #textarea_column {
}

#html_column {
}

#textarea_column {
}

#submit {
  padding-top: 50px;
}
