form {
  display: inline;
}

table { table-layout: fixed; }
table th, table td { overflow: hidden; }

td {
  padding-top: 10px !important;
}

tr {
  height: 40px !important;
}

#filter {
  margin-bottom: 30px;
  margin-top: 30px;
}

#preview-container {
  position: absolute;
  right: 0;
  padding-right: 10px;
  margin-top: -11px;
}

#preview {
  zoom: 50%;
}

.delete {
  margin-top: -5px;
}

.preview-link {
  margin-top: -5px;
}

.on-preview, .droppable-active {
  background: yellow;
}

.btn {
  padding: 4px 8px;
}

.date {
  width: 15%;
  font-size: 12px;
}

.name {
  width: 30%;
  font-size: 14px;
}

.link {
  width: 30%;
  font-size: 12px;
}

.content {
  width: 9%;
}

.favorite {
  width: 4%;
}

.delete-placeholder {
  width: 6%;
}

.preview {
  width: 6%;
}

.star-it {
  opacity: 0.5;
}

.move-page {
  margin-left: 10px;
  cursor: move;
}

.content i {
  cursor: help;
}

.show-on-hover {
  display: none;
}

.hovering {
  display: inline-block;
}

.hide {
  display: none !important;
}

.drag-cart-item {
  background-color: white;
}
