form {
  display: inline;
}

#filter {
  margin-bottom: 30px;
  margin-top: 30px;
}

#preview {
  zoom: 50%;
}

.on-preview {
  background: yellow;
}

.btn {
  padding: 4px 8px;
}

.date, .event, .link {
  font-size: 10px;
}

.star-it {
  opacity: 0.5;
}
