#title {
  float: left;
}

#event-create {
  margin-top: 15px;
  margin-left: 15px;
}

.event {
  min-height: 40px;
}

.event-collapse i, .event-expand i {
  float: left;
  margin-top: 12px;
}

.event-title {
  float: left;
  margin-left: 6px;
}

.event-edit {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}

.event-edit-form {
  float: left;
  display: inline-block;
  margin: 0;
}

.event-name-input {
  margin: 0;
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}

.event-edit-submit {
  margin-top: 5px;
}

.event-page-count {
  display: inline-block;
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}

.event-featured-pages i {
  margin-top: 12px;
  margin-left: 6px;
}

form {
  display: inline;
}

table.pages {
  clear: left;
  table-layout: fixed;
}
table.pages th, table.pages td { overflow: hidden; }

table.pages td {
  padding-top: 10px !important;
}

table.pages tr {
  height: 40px !important;
}

#preview-container {
  position: absolute;
  right: 0;
  padding-right: 10px;
  margin-top: -11px;
}

#preview-container span, #preview-container label {
  display: inline-block;
}

#preview-container label {
  font-weight: bold;
}

#preview iframe {
  border: 0;
  width: 100%;
  min-height: 500px;
}

.delete {
  margin-top: -5px;
}

.preview-link {
  margin-top: -5px;
}

.on-preview, .droppable-active {
  background: yellow;
}

.btn {
  padding: 4px 8px;
}

.date {
  width: 15%;
  font-size: 12px;
}

.name {
  width: 30%;
  font-size: 14px;
}

.link {
  width: 30%;
  font-size: 11px;
}

.content {
  width: 9%;
}

.favorite {
  width: 4%;
}

.delete-placeholder {
  width: 6%;
}

.preview {
  width: 6%;
}

.star-it {
  opacity: 0.5;
}

.move-page {
  margin-left: 10px;
  cursor: move;
}

.content i {
  cursor: help;
}

.show-on-hover, .show-on-header-hover {
  display: none;
}

.hovering {
  display: inline-block;
}

.hide {
  display: none !important;
}

.drag-cart-item {
  background-color: white;
}

.name input[type=text] {
  width: 90%;
}
